@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Poppins:wght@100&display=swap');




/*padrao*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'DM Sans';
    color: var(--text-color);
    list-style: none;
    
    object-fit: cover; 
}

:root
{
    --text-color: #ffffff;
    --bg-color: #000;
    --bnt-color: #0994CF;
    --txt_faixa-color:#BABCBE;
    --hover-color: #0994CF;
    --withe-color: #ffffff;
    --bdr-color: #0994CF ;
    --faixa--color:#1F1F1F;;

}

/* ::-webkit-scrollbar
{
    width: 10px;
    border-radius: 0px;
    background-color: var(--bdr-color);
   )
}
::-webkit-scrollbar-thumb
{
    border-radius: 0;
    background-color: #000000;
    
} */
header button:hover
{
    transform: translate(5px);
    
}
/* button desativa boxshadow */
.sobre button, header button, .contato button, .home button
{
    box-shadow: none;
}
 /*butao padrao*/button
{
    
    width: 195px;
    height: 49px;
    background-color: var(--hover-color);  
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.9s linear;
    transition-timing-function: linear;
    
    
    box-shadow: rgba(138, 123, 123, 0.555) 0px 8px 24px;
    
    
}
button:hover
{
    transform: scale(1.04);
    transition: 1s linear;
    
    
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
}
body
{
    background-color: var(--bg-color);

}


/* menus responsivo*/
.desa
{
    display: none;
}
#menu-icone
{
    font-size: 3.6rem;
    display: none;
}
/*navegacao*/
nav a:hover,
nav a.active {
    color: #0994CF;
}

.header
{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0PX 10%;
    width: 100%;
    height: 76px;
    background: rgba(34,40,45,.5); 
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
}
.activa:hover
{
    color: var(--hover-color);
}
.sty{
    background-color: transparent;
}
.logo 
{
    margin-right: auto;
}
.logo img
{
    height: 50px;
}
.nvr-box
{
    display: none;
}
iframe
{
    display: none;
}
.navegacao a 
{
    position: relative;
    font-family: 'DM Sans';
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
}
.header button
{
    width: 149.6px;
    height: 29px;
    border-radius: 8px;
    cursor: pointer;
    border: solid 2px var(--bdr-color);
    font-family: 'DM Sans';
    color: var(--text-color);
    background-color: transparent;
}
header button:hover
{
    background-color: var(--hover-color);
}



/*home*/

.efeito-padrao, .efeito-delay
{
    visibility: hidden;
}
section
{
    min-height: 100lvh;
    padding: 10rem 10% 2rem;

}

.home-conteudo
{
    max-width: 50rem;
    margin-right: auto;
}
.home
{
    display: flex;
    align-items: center;
    
}

.home-conteudo h1
{
    font-size: 5.6rem;
    font-weight: 700;
    text-transform: uppercase;

}
.home-conteudo p
{
    font-size: 1.5rem;
}
.home-conteudo .box-btn
{
    display: inline-flex;
    
}
.home button
{
    margin: 2.5rem 1.5rem 0 0;
}
.home .flutuar
{
    background-color: transparent;
    border: solid 2px var(--hover-color);
    
}
.home .flutuar:hover
{
    background-color: var(--hover-color);

}


.home-img img
{
    
    width: 250px;
    
}

/*faixa*/

.faixa
{
    
    min-height: 120px;
    padding: 0rem 10% 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--faixa--color);
    
    
    
}

.faixa-conteudo
{

    display: flex;
    align-items: center;
    
    
}
.faixa-conteudo h3
{
    max-width: 200px;
    margin-left: 3.5rem;
    
}
.faixa-conteudo h3
{
    font-size: 1.5rem;
    font-family: 'DM Sans';
    font-weight: 200;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: var(--text-color);
    
}
.faixa svg
{
    width: 45px;
    
}
/* sobre */

.sobre
{
    display: flex;
    align-items: center;
    min-height: 0;
    height: auto;
   
    
}
.sobre-bx
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
   
}
.sobre-pontos
{
    height: 120px;
    width: 120px;
     
    background-color: var(--faixa--color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    
}
.sobre-pontos i
{
    font-size: 3rem;
    color: var(--bnt-color);
}
.sobre-pontos h3
{
    text-transform: uppercase;
    margin-top: 1.6rem;
    font-weight: 400;
    font-family: "DM Sans";
}
p 
{
    font-weight: 300;
}
.sobre-txt
{
    margin-top: 0;
}
.sobre-pontos p 
{
  
    color: var(--withe-color);
    margin-top: .3rem;
    font-size: 1.3rem;
    
}
.sobre-txt
{
    font-family: "DM Sans";
    margin-top: 2rem;
    font-weight: 250;
     font-size: 1.5rem;
     color: var(--txt_faixa-color);
     line-height: 1.2;
}
.sobre-btn
{
    display: flex;
    margin-top: 2.5rem;
}

.sobre-box
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 5rem;
}
.sobre-img
{
    flex-basis: 40%;
}

.sobre-img img
{
    
    width: 100%;
    height:420px;
    border-radius: 10px;
}
.sobre-content
{
    flex-basis: 40%;

}
.sobre-content h2
{
    font-family: 'DM Sans';
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;

    
}






/*servicos*/
.services
{
    min-height: 0;
    height: auto;
}

.services-container
{
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    gap: 120px 50px;
    margin: auto o;
    height: 0%;
   
}
.services-card
{
    
    display: flex;
    flex: 1  1 30rem; 
    justify-content: center;
   
    height: 400px;
    background-color: var(--withe-color);
    border-radius: 10px;
   border-bottom: solid 10px var(--hover-color);
    transition: 0.9s;
    
}
.services-img
{

    position: absolute;
    margin-top: 20px;
    width: 240px;
    height: 200px;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.9s;
    
}


.services-img img
{

    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: solid 0px var(--hover-color);
}


.services-img
{
    
    margin-top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgb(0, 0, 0);
    
}
.txt-1{
    margin-bottom: 95px;
}

.heading
{
    font-size: 4.2rem;
    font-family: 'DM Sans';
    padding-bottom: 3.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    
}

.services-contentet h2
{
    font-size: 1.7rem;
    font-weight: 700;
}

.services-contentet
{
    
   display: flex;
   align-items: center;
   text-align: center;
   padding: 0 12%;
}
.services-contentet div
{
    
   margin-top: 60px;
}


.services-contentet h2, p, a
{
    
    color: #000;
}
.services-contentet p
{
    line-height: 1.2;
    font-weight: 300;
    font-size: 1.5rem;
    color: #000;
}
.services-contentet p
{
    padding: 10px 0px;
}
.services-contentet button
{
    
    color: var(--withe-color);
    margin-top: 1.5rem;
    transition: 0.6s;
}
.services-contentet button:hover
{
    
}
/* .services-contentet button
{
    background-color: transparent;
 border: solid 2px var(--hover-color);
 color: #000;
} */
/* .services-contentet button:hover
{
    background-color: var(--hover-color);
    border: solid 2px var(--hover-color);
    color: #ffffff;
} */


/* contato */



.contato form
{
    width: 70rem;
    
    
    margin-bottom: 0rem;
}
.input-box
{
    display: flex;
    gap: 0 10px;

    
}

.contato form .input-box input,
.contato form textarea
{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    margin: 2rem 0 ;
    border: none;
     border-bottom: solid 2px var(--bdr-color);
    

}


.contato-container
{
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.contato-rede
{
    
    margin-top: 50px;
    max-height: 900px;
    width: 100%;
    
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 2rem;
}
.contato-rede div
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato-rede div i
{
    font-size: 5rem;
    color: #ffffff;
}
.contato-whatsapp-content p
{
    color: #ffffff;
}
.contato-rede div
{
    width: 100px;
    border-radius: 10px;
  
    background-color: var(--bdr-color);
    box-shadow: 0rem 0rem 1rem rgba(6,247,132,.16);
    cursor: pointer;
    height: 100px;
    
}
.contato button
{
    
   margin-top: 3rem;
    border: solid 2px var(--hover-color);
}
.contato button i
{
    margin-left: 5px;
    
}
textarea
{
    resize: none;
    height: 200px;
}


/* footer */

.footer{
	
    padding: 100px 10%;
    
}
.row{
	
	flex-wrap: wrap;
    display: flex;

    justify-content: space-between;
    padding: 30px 0;


    
}
ul{
	list-style: none;
}
.footer-col
{
 flex: 1 1 1;
}
.footer h4 a
{
    font-family: 'DM Sans';
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--bdr-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.9s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.roda-pe
{
    padding: 0 10%;
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--faixa--color);
}
.rdp-btn button
{
    width: 40px;
}
.rdp-txt p
{
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--txt_faixa-color)
}



/* responsividade geral, menu, home... */
@media (max-width:1320px)
{
    .faixa
    {
        display: none;
    }
}
@media (max-width: 991px)
{
   .header, .roda-pe, .footer
   {
    padding: 0 3%;
   }
   section
   {
    padding: 10rem 3% 2rem;
   }
}

@media (max-width: 900px)
{
    


    iframe
    {
        display: block;
        width: 100%;
        height: 180px;
        filter: invert(100%);
        border-radius: 10px;
    }
    
    .nvr-box i 
    {
        
    }
    .nvr-box
    {
        display: flex;
        font-size: 3rem;
        gap: 3rem;
        
    }
    .desa
    {
        display: block;
       width: 149px;
       height: 29px;
       border-radius: 10px;
       background-color: var(--bnt-color);
       
    }
    .contato-rede div 
    {
        box-shadow: 0rem 0rem 0.5rem rgba(6,247,132,.16);
    }
    .faixa
    {
        display: none;
    }
   #menu-icone
   {
    display: block;
   }
   .header , .navegacao
   {
    background-color: var(--faixa--color);
   }

   .navegacao
   {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100dvh;
    width: 100%;
    padding: 1rem 3%;
    display: none;
   }
   .navegacao.ativa 
   {
    display: block;
   }
   .navegacao a 
   {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
   }
   .header button 
   {
    display: none;
   }
   .nav-contatos
   {
    display: flex;
    justify-content: center;

    align-items: center;
   }
   /* home */

   .home
   {
    flex-direction: column;
   }
   .home-conteudo h1 
   {
    font-size: 4.1rem;
   }
   .home-conteudo p
   {
    font-size: 1.5rem;
   }
   .home-img img 
   {
    width: 30vh;
    margin-top: 4rem;
   }
   .home-conteudo
   {
    text-align: center;
    margin: 0 auto;
   }


   /* contato */
   .input-box
   {
    flex-direction: column;
   }
   
    
    .sobre-bx
    {
        
        gap: 0rem;
    }
    
    


   
}
@media (min-width: 1278px)
{

.sobre-img img 
{
    transition: linear 1.1s;
}
.sobre-img
{
    
    width: 100%;
    height:420px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.sobre-img:hover img
{
    transform: scale(1.2);
    transition: all 1.1s linear;
}
}
@media (max-width: 1278px)
{
        .sobre-img
    {
        flex-basis: 30%;
        cursor: pointer;
    }

    .sobre-btn
    {
    display: flex;
     justify-content: center;
    }
    .sobre-content p
    {
        text-align: center;
    }
    .sobre-bx
    {
        display: none;

    }
    .sobre p 
    {
        margin-top: 0;
    }
    .sobre-img img
    {
        height: 340px;
    }
    .sobre-content
    {
        flex-basis: 100%;

    }
    .sobre-img
    {
        flex-basis: 100%;
    }
}

@media (max-width: 500px)
{
    .sobre-img img
    {
        height: 250px;
    }
    .heading
    {
        font-size: 3.2rem;
        
        
    }
    .rdp-txt p
    {
        font-size: 1.2rem;
    }
}